<div class="container">
    <div class="row">
        <div class="col">
            <h1>List of People</h1>
            <!-- Con disabled le asignamos una propiedad definida en ts (deshabiliar), el cual va encerrado en corchetes-->
            <button class='btn btn-primary' 
                [disabled]="deshabilitar"
                (click)='agregarPersona()'>Agregar Persona</button>
                <p>{{mensaje}}</p>
            <app-persona></app-persona>

            <!-- Event Binding envio valores del evento por parametro-->
            <label> Titulo Persona </label>
            <input type="text" class="form-control" 
                (input)="modificarTitulo($event)">
            {{titulo}}

        </div>
    </div>
</div>